<% if current_user.id == @user.id %>
	<p>Email</p>
	<%= @user.email %>
	

	<p>Saved Plans</p>
	<% @user.plans.each do |plan| %>
		<%= plan.price %></br>
		<%= plan.minute %></br>
		<%= plan.data %></br>
		<%= plan.text %>
		<p>------------</p>	
	<% end %>
<% end %>