<%= link_to plan_path(plan.id) do %>

<div class="row" id="boardcontainer">

    <div class="small-12 large-12 large-centered columns text-center">

    <% @plans.each do |plan| %>
    
     <ul id="board" class="large-block-grid-3 small-block-grid-3 large-centered">
              
      <li>
      $ <%= plan.price %></br > 
      
      Minutes: <%= plan.minute %>Minutes </br > 
      Data: <%= plan.data %>MB </br >
      Text: <%= plan.text %></br >

      </li> 
    </ul>

<% end %>


             
  </div>
</div>


<% end %>






