<% @plans.each do |plan| %>
  <tr>
    <td><%= plan.carrier %></td>
    <td>$<%= plan.price %></td>
    <td><%= plan.minute %></td>
    <td><%= plan.unlimited(plan.data) %></td>
    <td><%= plan.text %></td>
    <td><%= form_for @save_plan, :remote => true do |f|%>
          <%= f.hidden_field :plan_id, value: plan.id %>
          <%= f.submit  "Save", :class => 'save-plan' %>
        <% end %>
    </td>
  </tr>
<% end %>