<% @plans.each do |plan| %>
  <tr>
    <td><%= plan.carrier %></td>
    <td>$<%= plan.price %></td>
    <td><%= plan.unlimited(plan.minute) %></td>
    <td><%= plan.unlimited(plan.data) %></td>
    <td><%= plan.unlimited(plan.text) %></td>
    <td>     
      <% if current_user %>
        <% if !@save_plans.map(&:plan_id).include? plan.id %>
          <%= form_for @save_plan, :remote => true do |f|%>
            <%= f.hidden_field :plan_id, value: plan.id %>
            <%= f.submit  "Save", :class => 'button tiny save-plan' %>
          <% end %>
        <% end %>
      <% end %>
      
    </td>
  </tr>
<% end %>