
<% @plans.each do |plan| %>
  <tr>
    <td><center><%= plan.carrier %></center></td>
    <td><center>$<%= plan.price %></center></td>
    <td><center><%= plan.unlimited(plan.minute) %></center></td>
    <td><center><%= plan.unlimited(plan.data) %></center></td>
    <td><center><%= plan.unlimited(plan.text) %></center></td>
    <td>  <center>
      <!-- Show save button to only logged in users -->
      <% if current_user %>
        <% if !@save_plans.map(&:plan_id).include? plan.id %>
          <%= form_for @save_plan, :remote => true do |f|%>
            <%= f.hidden_field :plan_id, value: plan.id %>
            <%= f.submit  "Save", :class => 'button tiny save-plan' %>
          <% end %>
        <% end %>
      <% else %>
        <p class="ask-save">Log in to Save</p>
      <% end %>   
    </center>
    </td>
  </tr>
<% end %>
<%= paginate @plans %>