<%= form_tag plans_path, method: :get, id: 'search-form' do %>
<div class="row">
      <div class="carrier">
        <h3>Select Carrier</h3>
        <%= select_tag(:carrier, options_for_select([["Any","Any"],["Bell","Bell"],["Chatr","Chatr"], ["Fido","Fido"], ["Koodo","Koodo"],["Rogers","Rogers"],["Telus","Telus"], ["Virgin","Virgin"], ["Wind","Wind"]])) %>
      </div>

     
        <h3>Price</h3>
        <div id="slider1"></div>
        <input id="priceslider" disabled style="border:0; color:#0067C3; font-weight:bold; font-size: 20px;">
        <div class="slider-text price-text"></div>
        <%= hidden_field_tag :price %>

      <div class="minutes">
        <h3>Minutes</h3>
        <div id="slider2"></div> 
        <input id="minuteslider" disabled style="border:0; color:#0067C3; font-weight:bold; font-size: 20px;">
        <div class="slider-text minute-text"></div>
        <%= hidden_field_tag :minute %>
      </div>


      <div class="data">
        <h3>Data (in MB)</h3>
        <div id="slider3"></div>
        <input id="dataslider" disabled style="border:0; color:#0067C3; font-weight:bold; font-size: 20px;">
        <div class="slider-text data-text"></div>
        <%= hidden_field_tag :data %>
      </div>

      <div class="texts">
        <h3>Text</h3>
        <div id="slider4"></div>
        <input id="textslider" disabled style="border:0; color:#0067C3; font-weight:bold; font-size: 20px;"> 
        <div class="slider-text text-text"></div>
        <%= hidden_field_tag :text %>
      </div>

      <div class="btnlayout">
        <%= submit_tag "Search", :name => nil, class: 'button [tiny small large] search-submit' %>
        <%= hidden_field_tag :indexsubmit %>
      </div>
</div>   

<% end %>

