<div class="empty">
    <%= render "sidebar" %> 
  
</div>


<div class="formgrid">
  <h1>Plans</h1> <br />  
  <table>
      <thead>
        <tr>
          <th width="200">Carrier</th>
          <th width="150">Price</th>
          <th width="150">Minutes</th>
          <th width="150">Text</th>
        </tr>
      </thead>

    <tbody>
      <% @plans.each do |plan| %>
        <tr>
          <td><%= plan.carrier %></td>
          <td>$<%= plan.price %></td>
          <td><%= plan.minute %></td>
          <td><%= plan.text %></td>
          <td><%= form_for @save_plan do |f|%>
                <%= f.hidden_field :plan_id, value: plan.id %>
                <%= f.submit :Save %>
              <% end %>
          </td>
        </tr>

      <% end %>
    </tbody> 
  </table>
</div>




  
