
<div class="newplan">
  
<%= form_for @plan do |f| %>
 <%= f.label :price %>
  <div class="planfield">
    <%= f.number_field :price, :step => 'any' %>
    </div>

  <div class="planfield">
	  <%= f.label :data %>
	  <%= f.number_field :data %>
  </div>

  <div class="planfield">
	  <%= f.label :minute %>
	  <%= f.number_field :minute %>
  </div>

  <div class="planfield">
	  <%= f.label :text %>
	  <%= f.number_field :text %>
  </div>

  <div class="planfield">
    <%= f.label :city %>
    <%= f.text_field :city_id %> 
  </div>

  <div class="planfield">
    <%= f.label :carrier %>
    <%= f.text_field :carrier %>
  </div>

  <div class="planfield">
	  <%= f.submit :Submit %>
  </div>
<% end %>


</div>