<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>


    <%= javascript_include_tag "vendor/modernizr" %>

    <script src='https://cdn.firebase.com/js/client/1.0.15/firebase.js'></script>
    
    <%= csrf_meta_tags %>


  </head>

  <body>
    <% if current_user %>
      Logged in as <%= current_user.email %>
      <%= link_to "Log out", logout_path %>
    <% else %>
      <%= link_to "Sign up", signup_path %> or
      <%= link_to "log in", login_path %>
    <% end %>

    <%= yield %>
    <div id="side-content">
    <%= yield(:side_bar) %>
</div>

    <%= javascript_include_tag "application" %>
  </body>
</html>