<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>
    <script src='https://cdn.firebase.com/js/client/1.0.15/firebase.js'></script>

    <%= stylesheet_link_tag    "application" %>

    <%= javascript_include_tag "application" %>

    <%= javascript_include_tag "vendor/modernizr" %>

    
    
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="sticky">
      <nav class="top-bar" data-topbar>
        <ul class="title-area">
          <li class="name">
            <h1><%= link_to "Waysweeter", root_path%></h1>
          </li>
           <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
          <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
        </ul>

        <section class="top-bar-section">
          <!-- Right Nav Section -->
          <ul class="right">
            <li class="active"><%= link_to "Submit Your Plan", new_plan_path %> </li>
            <li class="has-dropdown">
              <% if !current_user %>
                <%= link_to "Login", login_path %>
                
              <% else %>
                <%= link_to current_user.email, current_user %>
                <ul class="dropdown">
                  <li><%= link_to "Logout", logout_path %></li>
                  
                </ul>
              <% end %>
              
            </li>
          </ul>

          <!-- Left Nav Section -->
          <ul class="left">
            <li><%= link_to "Plans", plans_path %></li>
            <li><%= link_to "Map", map_path %></li>
          </ul>
        </section>
      </nav>
    </div>

    <%= yield %>

    <div id="side-content">
      <%= yield(:side_bar) %>
    </div>

    

  </body>
</html>